<div style="margin-top: 10em;">
  <a href="#" id="new-phrase">Load New Phrase</a>
</div>
<table class="table">
  <thead>
  <tr>
    <th width="45%">English</th>
    <th width="5%"></th>
    <th width="45%">Huttese</th>
    <th width="5%"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td id="english-phrase"><%= @phrase_repository.english_phrase %></td>
    <td><a href="#" id="speak-english-phrase">Say it</a></td>
    <td id="huttese-phrase"><%= @phrase_repository.huttese_phrase %></td>
    <td><a href="#" id="speak-huttese-phrase">Say it</a></td>
  </tr>
  <tr>
    <td><%= image_tag("star-wars-han-solo-harrison-ford.jpg", id: "hans-solo", style: "max-width: 100%;") %></td>
    <td></td>
    <td><%= image_tag("jabba-tongue.jpg", id: "jabba", style: "max-width: 100%;") %></td>
    <td></td>
  </tr>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function () {
    $("#hans-solo").hide();
    var msg = new SpeechSynthesisUtterance('<%= @phrase_repository.huttese_phrase %>');
    window.speechSynthesis.speak(msg);

    $("#speak-english-phrase").on("click", function (event) {
      event.preventDefault();
      $("#jabba").hide();
      $("#hans-solo").show();
      var englishMsg = new SpeechSynthesisUtterance($("#english-phrase").html().replace(/&nbsp;/gi,''));
      window.speechSynthesis.speak(englishMsg);
    });

    $("#speak-huttese-phrase").on("click", function (event) {
      event.preventDefault();
      $("#hans-solo").hide();
      $("#jabba").show();
      var englishMsg = new SpeechSynthesisUtterance($("#huttese-phrase").html().replace(/&nbsp;/gi,''));
      window.speechSynthesis.speak(englishMsg);
    });

    $("#new-phrase").on("click", function (event) {
      event.preventDefault();
      location.reload();
    });
  });
</script>